<div class="interaction hidden" id="yourDetailsUKInteraction">
    <fieldset>
        <legend class="h2"><span>About you</span></legend>
        <div id="aboutYouFormMessage" aria-live="polite"></div>
        <p>Fields marked with <span class="int-requiredAsterisk" role="presentation">*</span> must be filled in.</p>
        <hr/>
        <div class="int-row">
            <div class="int-grid3"><label for="addressInputLine1" class="int-floatRight">Address line 1<span class="int-requiredAsterisk" role="presentation">*</span></label></div>
            <div class="int-grid6">
                <input type="text" id="addressInputLine1" placeholder="Address line 1" aria-required="true" required/>
            </div>
        </div>
        <div class="int-row">
            <div class="int-grid3"><label for="addressInputLine2" class="int-floatRight">Address line 2</label></div>
            <div class="int-grid6">
                <input type="text" id="addressInputLine2" placeholder="Address line 2"/>
            </div>
        </div>
        <div class="int-row">
            <div class="int-grid3"><label for="addressInputLine3" class="int-floatRight">Address line 3</label></div>
            <div class="int-grid6">
                <input type="text" id="addressInputLine3" placeholder="Address line 3"/>
            </div>
        </div>
        <div class="int-row">
            <div class="int-grid3"><label for="addressTownCityInput" class="int-floatRight">Town / City <span class="int-requiredAsterisk" role="presentation">*</span></label></div>
            <div class="int-grid6">
                <input type="text" id="addressTownCityInput" placeholder="Town / City" aria-required="true" required/>
            </div>
        </div>
        <div class="int-row">
            <div class="int-grid3"><label for="addressPostCodeInput" class="int-floatRight">Postcode <span class="int-requiredAsterisk" role="presentation">*</span></label></div>
            <div class="int-grid6">
                <input type="text" id="addressPostCodeInput" placeholder="Postcode" aria-required="true" required/>
            </div>
        </div>
        <div class="int-row">
            <div class="int-grid3">
                <label for="addressCountryInput" class="int-floatRight">Country</label>
            </div>
            <div class="int-grid6">
                <input type="text" value="United Kingdom" id="addressCountryInput" disabled>
            </div>
        </div>
        <hr/>
        <div class="int-row">
            <div class="int-grid3"><label for="titleListSelect" class="int-floatRight">Title <span class="int-requiredAsterisk" role="presentation">*</span></label></div>
            <div class="int-grid6">
                <select data-val="true" data-val-required="The Title field is required." id="titleListSelect" name="PersonalDetailsModel.Title" class="valid" aria-controls="titleDetailsRegion genderSelectRegion">
                    <option value disabled selected>Choose</option>
                    <option value="1">Mr</option>
                    <option value="2">Mrs</option>
                    <option value="3">Miss</option>
                    <option value="4">Ms</option>
                    <option value="5">Doctor</option>
                    <option value="6">Reverend</option>
                    <option value="7">Lady</option>
                    <option value="8">Sir</option>
                    <option value="9">Professor</option>
                    <option value="10">Other</option>
                </select>
            </div>
        </div>
        <div id="titleDetailsRegion" aria-live="assertive">
            <div class="int-row hidden" id="otherTitleInputContainer">
                <div class="int-grid3">
                    <label for="otherTitleInput" class="int-floatRight">Other title
                        <span class="int-hide">As you have selected 'Other' as your title from the select list above, please specify here or select a different option from the list of titles.</span>
                        <span class="int-requiredAsterisk" role="presentation">*</span>
                    </label>
                </div>
                <div class="int-grid6">
                    <input type="text" id="otherTitleInput" placeholder="Other title" aria-required="true" required
                           title="As you have selected 'Other' as your title from the select list above, please specify here or select a different option from the list of titles."/>
                </div>
            </div>
        </div>
        <div id="genderSelectRegion" aria-live="assertive">
            <div class="int-row hidden" id="genderSelectRow">
                <div class="int-grid3"><label for="genderSelect" class="int-floatRight">Gender <span class="int-requiredAsterisk" role="presentation">*</span></label></div>
                <div class="int-grid6">
                    <select id="genderSelect" aria-required="true" required>
                        <option value selected>Choose</option>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="int-row">
            <div class="int-grid3"><label for="firstNameInput" class="int-floatRight">First name(s) <span class="int-requiredAsterisk" role="presentation">*</span></label></div>
            <div class="int-grid6">
                <input type="text" id="firstNameInput" placeholder="First name(s)" aria-required="true" required/>
            </div>
        </div>
        <div class="int-row">
            <div class="int-grid3"><label for="lastNameInput" class="int-floatRight">Last name <span class="int-requiredAsterisk" role="presentation">*</span></label></div>
            <div class="int-grid6">
                <input type="text" id="lastNameInput" placeholder="Last name" aria-required="true" required/>
            </div>
        </div>
        <div class="int-row">
            <div class="int-grid3">
                <label class="int-floatRight" for="dateOfBirthInput">Date of birth (DD-MM-YYYY)<span class="int-requiredAsterisk" role="presentation">*</span></label>
            </div>
            <div class="int-grid6">
                <input type="text" id="dateOfBirthInput" placeholder="DD-MM-YYYY" aria-required="true" required/>
            </div>
        </div>
        <hr/>
        <div class="int-row">
            <div class="int-grid3"><label for="OUPIInput" class="int-floatRight">OU personal identifier (if known)</label></div>
            <div class="int-grid6">
                <input type="text" id="OUPIInput" placeholder="OU personal identifier (optional)"/>
            </div>
        </div>
    </fieldset>
</div>