<!-- progress bar -->
<div class="interaction" id="progressBarContainer">
    <div class="int-progressBar steps7" id="progressBar">
        <div class="mobile">Your contact details</div>
        <div class="stage done">Registration start</div>
        <div class="stage current">Your contact details</div>
        <div class="stage">Your study</div>
        <div class="stage">More about you</div>
        <div class="stage">Payment options</div>
        <div class="stage">The legal stuff</div>
        <div class="stage">Complete</div>
    </div>
</div>
<!-- end progress bar -->