<div id="callBDTSection" class="contactSection">
    <hr/>
    <h2>Call our Business Development Team</h2>

    <div class="int-row">
        <p>
            <span class="int-icon-text">
                <span class="circle"><i class="int-icon int-icon-phone"></i></span>
                Call us on <strong>+44 (0)1908 655767</strong>
            </span>
        </p>

        <p>Please note, lines are open between 09:00-17:00 UK time, Monday-Friday. Outside of these hours a voicemail service will be available.</p>
    </div>
</div>